<!DOCTYPE html>
<html>
    <head>
        <title>H's blog</title>
    </head> 
    <body>
        <header>
            <h1><a href="/">Heritage's Blog</a></h1>
        </header>  
        

        <article>
            <time>published: 07.01.2024, 17:32</time>
            <h2><a href="">My first post</a></h2>
            <p>This is for a summer class called Software Development using Python. It's not a bad class but sometimes, things can get confusing and tricky and it makes me a little tired. </p>
       </article>

 
      <article>
      <time>published: 07.01.24, 17:35</time>
      <h2><a href="">My second post</a></h2>
      <p>I'm almost 62.5% done with the class. It feels nice to know there is some type of finish date but in all, it has taught me a lot and I'm grateful for that. It is frustrating but useful and helpful and I'm sure I'll take all what I've learned with me. </p>
      </article>
    </body>
</html>
